-i https://pypi.org/simple/
click==7.1.2
flask-cors==3.0.9
flask-mysql==1.5.1
flask-mysqldb==0.2.0
flask==1.1.2
gunicorn==19.10.0
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
mysqlclient==1.4.6
pyjwt==1.7.1
pymysql==0.9.3
six==1.15.0
werkzeug==1.0.1
