.container {
    position: relative;
}
.inputFormHolder input {
    width: 400px;
}
.inputFormHolder {
    border:2px solid black;
    height: auto;
    width: auto;
    padding: 40px;
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left:50%;
    margin: 30px 0 0 -170px;
}

.inputFormHolder > div {
    margin: 20px;
}
.btn {
    text-align: center;
}
.singout {
    padding: 40px;
    margin: 50px;
    text-align: center;
}